.example-form{min-width:100%;max-width:300px;width:100%;}
.mat-card{padding:40px 70px 50px;}
.mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}
.example-full-width,.login-wrapper .btn-block{width:100%;}

.mat-card{
    max-width: 300px;
    min-height: 200px;
}
.login-div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.mat-card-actions {
    margin-top: 20px;
}

// .mat-form-field input[type = "text"], .mat-form-field input[type = "password"]  {
//  border: 0;
//  background: none;
//  display: block;
//  margin: 0px auto;
//  text-align: center;
//  padding: 10px 8px;
// }
