.example-form{min-width:100%;max-width:300px;width:100%;}
.mat-card{padding:40px 70px 50px;}
.mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}
.example-full-width,.login-wrapper .btn-block{width:100%;}