
    <div class="login-div">
        <mat-card>
            <form #loginForm="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label for="username">Username</mat-label>
                    <input matInput type="text" [(ngModel)]="user.username" id="username" name="username" required>
                    <mat-error>{{'Required'}}</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label for="password">Password</mat-label>
                    <input matInput type="password" [(ngModel)]="user.password" id="password" name="password" required>
                    <mat-error>{{'Required'}}</mat-error>
                </mat-form-field>
            </form>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-raised-button>LOGIN</button>
            </mat-card-actions>
        </mat-card>
        
    </div>
